/*Código CSS para template*/
.layout-wrapper .layout-main .layout-footer {
    padding: 16px 24px;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    bottom: 0;
    position: absolute;
    width: calc(100% - 290px);
}
.novoRodape{
    width: calc(100% - 110px) !important;
}
@media screen and (max-width: 768px) {
    .layout-wrapper .layout-main .layout-footer{
        width: calc(100% - 50px) !important;
    }
}

/*Código CSS para componente*/
body a {
    color: #607D8B;
    text-decoration: none;
}
.layout-wrapper .layout-main .layout-footer img {
    margin-top: 5px;
    width: 100px;
}
.layout-wrapper .layout-main .layout-footer .footer-text-right {
    float: right;
    margin-top: 10px;
}
.layout-wrapper .layout-main .layout-footer .footer-text-right {
    vertical-align: middle;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.layout-wrapper .layout-main .layout-footer .footer-text-right span {
    vertical-align: middle;
}
.ui-icon-copyright:before {
    content: "";
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
.commons{
    font-size: 24px;
}
#dialog{
    top: 70px !important;
    left: 248px !important;
}
#dialog2{
    top: 70px !important;
    left: 248px !important;
}
.h5av{
    margin-top: 13px;
    margin-bottom: 7px;
}