.login-body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #F2FBEF; 
}
.login-body .login-panel {
    width: 430px;
    height: 500px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -215px;
    margin-top: -250px;
    padding: 20px 0 20px 0;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
}
.login-body .login-panel .login-panel-header {
    text-align: center;
    padding: 8px 14px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.login-body .login-panel .login-panel-header img {
    vertical-align: middle;
}
.login-body .login-panel .login-panel-content {
    padding: 0 40px 0 40px;
}
.login-body .login-panel .login-panel-content h1 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}
.login-body .login-panel .login-panel-content .ui-g-12, .login-body .login-panel .login-panel-content .ui-g-6 {
    padding: 1em;
}
.ui-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.login-body .login-panel .login-panel-content .ui-g-12, .login-body .login-panel .login-panel-content .ui-g-6 {
    padding: 1em;
}
.ui-g-12 {
    width: 100%;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: .5em;
}
body .md-inputfield {
    display: block;
    position: relative;
}
.ui-fluid .ui-inputtext {
    width: 100%;
    border-radius: 0;
}
.ui-fluid .ui-inputfield {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body .ui-inputfield {
    background: transparent;
    border-width: 0 0 1px 0;
    padding: 2px 2px 1px 2px;
    border-color: #bdbdbd;
    border-style: solid;
    font-size: 14px;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
body .ui-corner-all {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    outline: 0 none;
}
body .ui-widget, body .ui-widget .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
}
.ui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
}
body .md-inputfield label {
    color: #999;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 1px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}
body .ui-inputfield.ui-state-focus {
    border-width: 0 0 2px 0;
    border-color: #607D8B;
    padding-bottom: 0;
    border-radius: 0;
}
body .ui-inputfield:hover {
    border-width: 0 0 2px 0;
    border-color: #607D8B;
    padding-bottom: 0;
    border-radius: 0;
}
body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield textarea:focus ~ label, body .md-inputfield textarea.ui-state-filled ~ label, body .md-inputfield .md-inputwrapper-focus ~ label, body .md-inputfield .md-inputwrapper-filled ~ label{
    top: -20px;
    font-size: 12px;
    color: #607D8B;
}
body .md-inputfield input:-webkit-autofill ~ label{
    top: -20px;
    font-size: 12px;
    color: #607D8B;
}
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus{
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075) !important;
}
.ui-fluid .ui-button {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body .ui-widget, body .ui-widget .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
}
body .ui-button {
    overflow: hidden;
    background-color: #607D8B;
    color: #ffffff;
    height: 30px;
    padding: 0 14px;
    border: 0 none;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
body .ui-button.ui-button-text-icon-left .ui-icon, body .ui-button.ui-button-text-icon-right .ui-icon {
    margin-top: -10px;
}
body .ui-button .ui-icon {
    color: #ffffff;
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
body .ui-icon {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-indent: 0;
    overflow: visible;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.ui-button-icon-left {
    left: .5em;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
body .ui-button .ui-button-text {
    padding: 0;
    line-height: 30px;
    font-size: 14px;
}
body .ui-button.ui-state-hover {
    background-color: #455A64 !important;
}