/*Código CSS para template*/
body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #F5F5F5;
    display: block;
} 
div {
    display: block;
}
.estiloP{
    color: #757575;
    margin: 0 0 28px 0;
    padding: 0;     
}
.estilo-task{
    border: 1px solid #cccccc !important;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
    background-image: none !important;
    outline: 0 !important;    
}
/*Barra de rolagem*/
::-webkit-scrollbar-track {
    background-color: #ffffff;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 1px;
}
/*Código CSS para componentes de conteúdo do formulário*/
.ui-g {
    -ms-flex-wrap: wrap;
}
.ui-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.ui-g-12 {
    width: 100%;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: .5em;
}
.card.card-w-title {
    padding-bottom: 32px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 16px;
    box-sizing: border-box;
}
.card h1:first-child {
    margin-top: 16px;
}
.card h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0;
}
element.style {
    border: 0px none;
    background-color: transparent;
}
body .ui-widget, body .ui-widget .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
}
.ui-panelgrid {
    border-collapse: collapse;
}
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header>tr.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content>td.ui-panelgrid-cell, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer>tr.ui-widget-footer {
    background: 0;
    border: 0 none;
}
body .ui-widget-content {
    background-color: #ffffff;
    /*    border: 1px solid #d8d8d8;*/
    padding: 8px 14px;
}
.ui-grid {
    clear: both;
    padding: 0;
    margin: 0;
}
.ui-grid .ui-grid-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    clear: both;
}
.ui-panelgrid.form-group .ui-panelgrid-cell {
    padding: 12px 16px;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    border: 0 none;
}
body .ui-panelgrid .ui-panelgrid-cell {
    padding: 8px 14px;
}
.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
}
.ui-grid-col-1, .ui-grid-col-2, .ui-grid-col-3, .ui-grid-col-4, .ui-grid-col-5, .ui-grid-col-6, .ui-grid-col-7, .ui-grid-col-8, .ui-grid-col-9, .ui-grid-col-10, .ui-grid-col-11, .ui-grid-col-12 {
    float: left;
    box-sizing: border-box;
}
.ui-grid-col-4 {
    width: 33.33333%;
}
.ui-grid-col-2 {
    width: 16.66666%;
}
.ui-grid-col-10 {
    width: 83.33334%;
}
.ui-grid-col-1, .ui-grid-col-2, .ui-grid-col-3, .ui-grid-col-4, .ui-grid-col-5, .ui-grid-col-6, .ui-grid-col-7, .ui-grid-col-8, .ui-grid-col-9, .ui-grid-col-10, .ui-grid-col-11, .ui-grid-col-12 {
    float: left;
    box-sizing: border-box;
}
.ui-widget.ui-widget-content {
    border: 1px solid #fff;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold;
}
#corh4{
    color:midnightblue;
    text-align: center;
}
#bordah4{
    margin-bottom: 0px;
}
.corh5{
    color:midnightblue;
}
tr.ui-widget-content.ui-datatable-even{
    height: 29px !important;
    cursor: pointer;
}
tr.ui-widget-content.ui-datatable-odd{
    height: 29px !important;
    cursor: pointer;
}
.pgTam{
    width: 100%;
}
#pg1{
    margin-top: 7px;
}
#pg2{
    margin-top: 10px;
}
#pg3{
    margin-top: 10px;
}
#pg4{
    border-collapse: collapse;
    margin-top: 4px;
}
#pg04{
    border-collapse: collapse;
}
#pg5{
    margin-top: 7px;
}
#pg6{
    margin-top: 7px;
}
#pg06{
    margin-top: 10px;
}
#pg8{
    border-collapse: collapse;
}
#pg10{
    margin-top: 4px;
}
#pg12{
    margin-top: 10px;
}
#pg13{
    margin-top: 5px;
}
#pg14{
    white-space: nowrap;
}
#pg015{
    margin-bottom: 10px;
}
#pg16{
    margin-top: 144px;
    position: absolute;
    margin-left: 270px;
}
#pg17{
    margin-top: 178px;
    position: absolute;
    margin-left: 145px;
}
#pg18{
    white-space: nowrap;
}
#pg20{
    margin-top: 10px;
}
#pg22{
    margin-top: 10px;
}
#pg24{
    white-space: nowrap
}
#pg25{
    white-space: nowrap;
}
#pg26{
    margin-top: 7px;
}
#pg31{
    margin-top: 78px;
}
#pg35{
    padding-bottom: 79px;
}
#pg37{
    padding-top: 159px;
}
#pg41{
    margin-top: 3px;
}
#pg42{
    margin-top: 15px;
}
#pg43{
    margin-top: 15px;
}
#pg50{
    padding-top: 5px;
}
#pg65{
    padding-top: 40px;
}
#pg69{
    margin-top: 120px;
    position: relative;
}
#pg70{
    margin-top: 7px;
}
#pg71{
    margin-top: 10px;
}
#pg75{
    float: right;
}
#pd01{
    margin-bottom: 7px;
}
#pd02{
    margin-bottom: 7px;
}
#pd03{
    margin-bottom: 7px;
}
#pd04{
    margin-bottom: 7px;
}
#pd05{
    margin-bottom: 7px;
}
#pd06{
    margin-bottom: 7px;
}
#pd07{
    margin-bottom: 7px;
}
#pd08{
    margin-bottom: 7px;
}
#pd09{
    margin-bottom: 7px;
}
#pd10{
    margin-bottom: 7px;
}
#pd11{
    margin-bottom: 7px;
}
#pd12{
    margin-bottom: 7px;
}
#pd13{
    margin-bottom: 7px;
}
#pd14{
    margin-bottom: 7px;
}
#pd15{
    margin-bottom: 7px;
}
#pd16{
    margin-bottom: 7px;
}
#wsONE1{
    white-space: nowrap;
}
#wsONE2{
    white-space: nowrap;
}
#wsONE3{
    width: 100%;
    white-space: nowrap;
}
#respMC{
    float: left;
    white-space: nowrap;
    margin-top: 5px;
}
#uiFluid{
    position: relative;
}
#uiFluid2{
    margin-top: 7px;
}
#conta{
    border-collapse: collapse;
    margin-left: 29px;
}
#depAjax{
    width: 100%;
}
#itensInt{
    white-space: nowrap;
    width: 100%;
    margin-bottom: 10px;
}
#DTmembros{
    margin-top: 7px;
}
#outCpf{
    margin-left: 40px;
}
#outDN{
    margin-left: 20px;
}
#outSexo{
    margin-left: 40px;
}
#outEtnia{
    margin-left: 40px;
}
#outEC{
    margin-left: 40px;
}
#outCurso{
    margin-left: 40px;
}
#outTurma{
    margin-left: 40px;
}
#outCel{
    margin-left: 40px;
}
#outEmail{
    margin-left: 40px;
}
#outEstado{
    margin-left: 40px;
}
#outRua{
    margin-left: 40px;
}
#outNum{
    margin-left: 40px;
}
#outRenda{
    margin-left: 40px;
}
#outDespesa{
    margin-left: 40px;
}
#interrupcaoAjax{
    width: 100%;
}
#doencas{
    width: 100%;
}
#inputOutroD{
    width: 170px;
}
#outPQT{
    margin-left: 40px;
}
#outTservico{
    margin-left: 40px;
}
#outDepen{
    margin-left: 40px;
}
.col1{
    width: 1px;
    white-space: nowrap;
}
.col2{
    width: 52%;
}
.col3{
    width: 1px;
}
.col4{
    width: 30%;
}
.col5{
    width: 1px;
}
.col6{
    width: 35%
}
.col7{
    width: 1px;
}
.col8{
    white-space: nowrap;
}
.col9{
    width: 1px;
    white-space: nowrap;
}
.col10{
    width: 25%;
}
.col11{
    width: 1px;
}
.col12{
    width: 25%;
}
.col13{
    width: 1px;
}
.col14{
    width: 25%;
}
.col15{
    white-space: nowrap;
    width: 1px;
}
.col16{
    width: 25%;
}
.col17{
    width: 32%;
}
.col18{
    width: 65%;
}
.col19{
    width: 1px;
}
.col21{
    width: 50%;
}
.col22{
    width: 50%;
}
.col23{
    width: 1px;
}
.col25{
    width: 1px;
}
.col27{
    width: 1px;
}
.col28{
    width: 30%;
}
.col29{
    width: 1px;
}
.col30{
    width: 30%;
}
.col31{
    width: 1px;
}
.col32{
    width: 30%;
}
.col33{
    width: 1px;
}
.col34{
    width: 50%;
}
.col35{
    width: 1px;
}
.col36{
    width: 50%;
}
.col37{
    width: 1px;
}
.col38{
    width: 40%;
}
.col39{
    width: 1px;
}
.col40{
    width: 50%;
}
.col41{
    width: 1px;
}
.col42{
    width: 15%;
}
.col43{
    width: 1px;
    white-space: nowrap;
    padding-top: 10px;
}
.col44{
    width: 100%;
    padding-top: 10px;
}
.col45{
    width: 1px;
    white-space: nowrap;
}
.col47{
    width: 1px;
    white-space: nowrap;
}
.col49{
    width: 10%;
    white-space: nowrap;
}
.col51{
    width: 1px;
}
.col53{
    width: 1px;
    white-space: nowrap;
}
.col54{
    width: 100%;
}
.col55{
    width: 1px;
    white-space: nowrap;
}
.col57{
    width: 1px;
    white-space: nowrap;
}
.col59{
    width: 1px;
    white-space: nowrap;
}
.col62{
    width: 1px;
    white-space: nowrap;
}
.col63{
    width: 100%;
}
.col64{
    width: 1px;
    white-space: nowrap;
}
.col65{
    width: 100%;
}
.col66{
    width: 1px;
    white-space: nowrap;
}
.col67{
    width: 100%;
}
.col69{
    width: 1px;
    white-space: nowrap;
}
.col70{
    width: 100%;
}
.col71{
    width: 1px;
    white-space: nowrap;
}
.col72{
    white-space: nowrap;
}
.col73{
    width: 279px;
    white-space: nowrap;
}
.col75{
    width: 1px;
    white-space: nowrap;
}
.col76{
    width: 17%;
}
.col77{
    width: 1px;
    white-space: nowrap;
}
.col78{
    width: 100%;
}
.col79{
    width: 1px;
    white-space: nowrap;
}
.col80{
    width: 149px;
    float: left;
}
.col81{
    width: 1px;
}
.col82{
    float: left;
}
.col83{
    width: 1px;
    white-space: nowrap;
}
.col84{
    width: 100%;
}
.col85{
    width: 1px;
    white-space: nowrap;
}
.col89{
    width: 1px;
    white-space: nowrap;
}
.col91{
    width: 1px;
    white-space: nowrap;
    padding-top: 10px;
}
.col92{
    padding-top: 10px;
}
.col93{
    width: 1px;
    white-space: nowrap;
    padding-top: 10px;
}
.col94{
    padding-top: 10px;
}
.col97{
    white-space: nowrap;
}
.col100{
    width: 1px;
    white-space: nowrap;
}
.col102{
    width: 190px;
}
.col104{
    white-space: nowrap;
}
.col105{
    width: 1px;
    white-space: nowrap;
}
.col107{
    width: 1px;
    white-space: nowrap;
}
.col109{
    width: 1px;
    white-space: nowrap;
}
.col111{
    white-space: nowrap;
}
.col112{
    width: 1px;
}
.col114{
    white-space: nowrap;
}
.col115{
    width: 1px;
}
.col116{
    white-space: nowrap;
}
.col117{
    width: 73px;
}
.col118{
    white-space: nowrap;
}
.col119{
    width: 1px;
    white-space: nowrap;
}
.col120{
    width: 280px;
    float: left;
}
.col121{
    white-space: nowrap;
}
.col123{
    width: 1px;
    white-space: nowrap;
}
.col124{
    width: 100%;
}
.col125{
    width: 1px;
    white-space: nowrap;
}
.col126{
    width: 100%;
}
.col127{
    width: 1px;
    white-space: nowrap;
}
.col128{
    width: 100%;
}
.col00{
    white-space: nowrap;
}
.col129{
    width: 1px;
    white-space: nowrap;
}
.col130{
    float: left;
    width: 200px;
}
.col131{
    width: 1px;
    white-space: nowrap;
}
.col132{
    float: left;
    width: 200px;
}
.col133{
    width: 1px;
    white-space: nowrap;
}
.col134{
    float: left;
    width: 200px;
}
.col135{
    width: 1px;
    white-space: nowrap;
}
.col136{
    float: left;
    width: 200px;
}
.col137{
    width: 1px;
    white-space: nowrap;
}
.col138{
    width: 70%;
}
.col139{
    width: 1px;
    white-space: nowrap;
}
.col140{
    width: 20%;
}
.col141{
    width: 1px;
    white-space: nowrap;
}
.col142{
    float: left;
    width: 200px;
}
.col143{
    width: 1px;
    white-space: nowrap;
}
.col144{
    float: left;
    width: 200px;
}
.col145{
    width: 1px;
    white-space: nowrap;
}
.col146{
    float: left;
    width: 200px;
}
.col147{
    width: 1px;
    white-space: nowrap;
}
.col148{
    float: left;
    width: 200px;
}
.col149{
    width: 1px;
    white-space: nowrap;
}
.col150{
    float: left;
    width: 200px;
}
.col151{
    width: 1px;
    white-space: nowrap;
}
.col152{
    float: left;
    width: 200px;
}
.col153{
    width: 1px;
    white-space: nowrap;
}
.col154{
    float: left;
    width: 200px;
}
.col155{
    width: 1px;
    white-space: nowrap;
}
.col156{
    float: left;
    width: 200px;
}
.col157{
    width: 1px;
    white-space: nowrap;
}
.col158{
    float: left;
    width: 200px;
}
.col159{
    width: 1px;
    white-space: nowrap;
}
.col160{
    float: left;
    width: 200px;
}
.col161{
    width: 1px;
    white-space: nowrap;
}
.col162{
    float: left;
    width: 200px;
}
.col163{
    width: 1px;
    white-space: nowrap;
}
.col164{
    float: left;
    width: 200px;
}
.col165{
    width: 1px;
    white-space: nowrap;
}
.col166{
    width: 70%;
}
.col167{
    width: 1px;
    white-space: nowrap;
}
.col168{
    width: 20%;
}
.col169{
    width: 1px;
    white-space: nowrap;
}
.col171{
    width: 1px;
    white-space: nowrap;
}
.col175{
    white-space: nowrap;
}
.col176{
    position: absolute;
    white-space: nowrap;
}
.col177 {
    width: 650px;
    white-space: nowrap;
    margin-top: 75px;
    position: absolute;
    margin-left: 270px;
}
.col178{
    width: 1px;
}
.col180{
    width: 1px;
    white-space: nowrap;
}
.col181{
    width: 100%;
}
.col182{
    width: 1px;
    white-space: nowrap;
}
.col182{
    width: 1px;
    white-space: nowrap;
}
.col182{
    width: 1px;
    white-space: nowrap;
    padding-top: 10px;
}
.col183{
    width: 150px;
    float: left;
    padding-top: 10px;
}
.col185{
    white-space: nowrap;
}
.col186{
    white-space: nowrap;
}
.col187{
    position: relative;
}
.col188{
    position: absolute;
    margin-top: 50px;
    margin-left: -430px;
}
.col189{
    white-space: nowrap;
}
.col190{
    width: 1px;
    white-space: nowrap;
}
.col191{
    width: 383px;
}