/*Código CSS para template*/
body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #F5F5F5;
    display: block;
} 
div {
    display: block;
}

/*Código CSS para componentes de conteúdo do formulário*/
.ui-g {
    -ms-flex-wrap: wrap;
}
.ui-g {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.ui-g-12 {
    width: 100%;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    float: left;
    box-sizing: border-box;
    padding: .5em;
}
.card.card-w-title {
    padding-bottom: 32px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.card h1:first-child {
    margin-top: 16px;
}
.card h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0;
}
element.style {
    border: 0px none;
    background-color: transparent;
}
body .ui-widget, body .ui-widget .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
}
.ui-panelgrid {
    border-collapse: collapse;
}
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header>tr.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content>td.ui-panelgrid-cell, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer>tr.ui-widget-footer {
    background: 0;
    border: 0 none;
}
body .ui-widget-content {
    background-color: #ffffff;
    /*    border: 1px solid #d8d8d8;*/
    padding: 8px 14px;
}
.ui-grid {
    clear: both;
    padding: 0;
    margin: 0;
}
.ui-grid .ui-grid-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    clear: both;
}
.ui-panelgrid.form-group .ui-panelgrid-cell {
    padding: 12px 16px;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    border: 0 none;
}
body .ui-panelgrid .ui-panelgrid-cell {
    padding: 8px 14px;
}
.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
}
.ui-grid-col-1, .ui-grid-col-2, .ui-grid-col-3, .ui-grid-col-4, .ui-grid-col-5, .ui-grid-col-6, .ui-grid-col-7, .ui-grid-col-8, .ui-grid-col-9, .ui-grid-col-10, .ui-grid-col-11, .ui-grid-col-12 {
    float: left;
    box-sizing: border-box;
}
.ui-grid-col-4 {
    width: 33.33333%;
}
.ui-grid-col-2 {
    width: 16.66666%;
}
.ui-grid-col-10 {
    width: 83.33334%;
}
.ui-grid-col-1, .ui-grid-col-2, .ui-grid-col-3, .ui-grid-col-4, .ui-grid-col-5, .ui-grid-col-6, .ui-grid-col-7, .ui-grid-col-8, .ui-grid-col-9, .ui-grid-col-10, .ui-grid-col-11, .ui-grid-col-12 {
    float: left;
    box-sizing: border-box;
}
.ui-widget.ui-widget-content {
    border: 1px solid #fff;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold;
}
#corh4{
    color:midnightblue;
    text-align: center;
}
#bordah4{
    margin-bottom: 0px;
}
.corh5{
    color:midnightblue;
}
.label1{
    width: 100px;
}
.value1{
    width: 480px;
}
.label2{
    width: 1px;
}
.value2{
    width: 1px;
}
.label3{
    width: 1px;
}
.value3{
    width: 200px;
}
.label4{
    width: 1px;
}
.value4{
    width: 100px;
}
.value6{
    width: 50px;
}
.label5{
    width: 177px;
}
.label6{
    width: 69px;
}
.value6{
    width: 80px;
}
.label7{
    float: right;
    margin-left: 20px;
    margin-top: 9px;
    width: 394px;
}
.value7{
    width: 219px;
}
.label8{
    width: 1px;
}
.value8{
    width: 235px;
}
.label9{
    margin-left: 55px;
    float: left;
    margin-top: 6px;
}
.value9{
    float: left;
    width: 235px;
}
.label10{
    float: left;
    margin-left: 55px;
    margin-top: 6px;
}
.value10{
    float: left;
    width: 234px;
}
.label13{
   width: 130px;
}
.col3{
    width: 123px;
}
.value15{
    width: 150px;
}
.label16{
    float: left;
    margin-top: 6px;
    margin-right: 4px;
}
.value16{
    float: left;
    width: 770px;
}
.label17{
    width: 142px;
}
.label18{
    width: 142px;
}
.label19{
    margin-left: 20px;
    margin-top: 5px;
    width: 155px;
}
.label20{
    width: 72px;
}
.label21{
    width: 280px;
}
.label22{
    width: 167px;
}
.label23{
    width: 280px;
}
.label24{
    width: 172px;
}
.label25{
    width: 340px;
}
.value21{
    width: 351px;
}
.label27{
    width: 138px;
}
.label29{
    width: 117px;
}
.label30{
    width: 143px;
}
.label31{
    width: 166px;
}
.label32{
    width: 700px;
}
.label33{
    width: 45px;
}
.label34{
    width: 610px;
}
.label35{
    width: 170px;
}
.label36{
    width: 1px;
}
.label37{
    width: 80px;
}
.label38{
    width: 80px;
}
.label39{
    width: 80px;
}
.label40{
    width: 67px;
}
.label41{
    width: 94px;
}
.label44{
    width: 310px;
}
.label45{
    width: 45px;
}
.label49{
    width: 95px;
}
.label50{
    width: 247px;
}
.label52{
    width: 150px;
}
.label53{
    width: 75px;
}
.label56{
    width: 75px;
}
.label59{
    width: 152px;
}
.label54{
    width: 100px;
}
.label55{
    width: 100px;
}
.label60{
    width: 150px;
}
.label61{
    width: 132px;
}