<?xml version="1.0" encoding="UTF-8"?>
 
<beans:beans xmlns="http://www.springframework.org/schema/security"
     xmlns:beans="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/security
     http://www.springframework.org/schema/security/spring-security.xsd">
   
<!-- Mudar as configurações de acordo do o que for necessário -->
    <http auto-config="true">
<!--        <intercept-url pattern="/paginas/adm/**" access="ROLE_ADMINISTRADOR"/>
        <intercept-url pattern="/paginas/aluno/**" access="ROLE_USUARIO"/>-->
        <intercept-url pattern="/templates/**" access="ROLE_NINGUEM"/>
        <intercept-url pattern="/resources/**" access="ROLE_NINGUEM"/>
        <form-login login-page="/paginas/publico/loginEntrar.jsf"
                authentication-success-handler-ref="redirectRoleStrategy"
        />
<!--                default-target-url="/login_success"-->
        
        <logout/>
    </http>

    <authentication-manager>
        <authentication-provider>
<!--            <user-service>
                <user name="leo" password="123" authorities="ROLE_USER"/>
            </user-service>-->
            <jdbc-user-service data-source-ref="asbdDataSource"
            authorities-by-username-query="SELECT u.login, p.permissao
                                        FROM Usuario u, usuario_permissao p
                                        WHERE u.cod_usuario = p.usuario AND u.login = ?"
            users-by-username-query="SELECT login, senha, ativo FROM Usuario WHERE login = ?" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="redirectRoleStrategy" class="br.edu.ifba.as.spring.UrlAuthenticationSuccessHandler">
        <beans:property name="roleUrlMap">
            <beans:map>
                <beans:entry key="ROLE_USUARIO" value="/inscricao.jsf"/>
                <beans:entry key="ROLE_ADMINISTRADOR" value="/index.jsf"/>
            </beans:map>
        </beans:property>
    </beans:bean>
<!--    <urlrewrite>
        <rule>
            <condition type="user-in-role">ROLE_USUARIO</condition>
            <from>/login_success</from>
            <to type="redirect">paginas/aluno/inscricao.jsf</to>
        </rule>
        <rule>
            <condition type="user-in-role">ROLE_ADMINISTRADOR</condition>
            <from>/login_success</from>
            <to type="redirect">/index.jsf</to>
        </rule>
        <rule>
            <from>/login_success</from>
            <to type="redirect">index.jsf</to>
        </rule>
    </urlrewrite>-->

</beans:beans>